.book {
  overflow: hidden;
  height: 54rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 2.4rem 4.8rem rgba(62, 54, 46, 0.15);
  border-radius: 2px;
}

.book__img-box {
  height: 100%;
  background-size: cover;
  background-position: center;
  /* remove background-image from CSS, will be set in JSX */
}

.book__text-box {
  height: 100%;
  padding: 2.4rem 4rem;
  background-color: rgba(146, 109, 74, 0.35);
}

.book__text-box h4 {
  font-size: 2rem;
}

.book__form {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

/* .book__form-group {
  margin-bottom: 1.6rem;
} */

.book__form-group:nth-child(7) {
  grid-column: 1 / -1;
}

.book__form-group .btn--filled {
  padding: 1rem 2.4rem;
}

.book__form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
}

.book__form input,
.book__form textarea,
.book__form select {
  font-size: 1.6rem;
  font-family: inherit;
  padding: .6rem 2rem;
  width: 80%;
  border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;

}

.book__form input:focus,
.book__form textarea:focus,
.book__form select:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
  border-bottom: 3px solid #865d36;
}

.book__form input::placeholder,
.book__form textarea::placeholder {
  color: #333333;
}

.book__form textarea {
  width: 90%;
}
