@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  color: #000;
  line-height: 1.7;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

/* header {
  border-bottom: 1rem solid #495E57;
} */



form {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  cursor: pointer;
}

/* input, select {
  height: 2.5rem;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  outline: none;
  border: 0.0625rem solid #E0E0E0;
  border-radius: 0.375rem;
  background: #FFFFFF;
  color: #495E57;
  cursor: pointer;
  transition: border-color 0.3s;
} */

/* input:focus, select:focus {
  border-width: 0.125rem;
  border-color: #495E57;
} */

label {
  font-weight: bold;
}

/* button {
  border: none;
  cursor: pointer;
} */

img {
  max-width: 100%;
}

/* main > section {
  margin-bottom: 5rem;
} */

.container {
  /* max-width: 100rem; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

/* .button-primary {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #F4CE14;
  color: #495E57;
  font-weight: bold;
  border: 0.1875rem solid #F4CE14;
  transition: background, border, color 0.5s;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #495E57;
  border-color: #495E57;
  color: #FFFFFF;
} */
